<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Introduce common libraries used by Data Scientists.
- Explore examples of evaluating arithmetic expressions in Python.
- Convert minutes to hours using Python.

Some of the popular languages that Data Scientists use are:

    1. Python 
    2. R
    3. Scala
    4. Java
    5. SQL

Some of the commonly used libraries used by Data Scientists include:

    1. NumPy 
    2. pandas
    3. TensorFlow

| Data Science Tools   |
|----------------------|
| Jupyter Notebook     |
| RStudio              |
| Visual Studio Code   |

<h3>Below are a few examples of evaluating arithmetic expressions in Python<h3>

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

<h2>Author</h2>
Daniyal